.control {
  display: block;
  width: 100%;
  padding: 8px 12px;
  color: #616161;

  font-weight: 400;
  font-size: 12px;
}

.control:hover {
  background-color: var(--color-secondary);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
}

.link {
  display: flex;
  align-items: center;
  gap: 8;
  text-decoration: none;
  padding: 8px 12px;
  margin-left: 10px;

  border-left: 1px solid var(--color-border);
}

.link:hover {
  background-color: var(--color-secondary);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
}

.link:active {
  background-color: var(--color-primary);
}

.mainlink {
  display: flex;
  align-items: center;
  gap: 8;
  text-decoration: none;
  padding: 8px 12px;
}

.mainlink:hover {
  background-color: var(--color-secondary);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
}

.mainlink:active {
  background-color: var(--color-primary);
}

.chevron {
  transition: transform 200ms ease;
}
