@import "tailwindcss";

:root {
  /* Base */
  --background: #ffffff;
  --foreground: #171717;

  /* Brand Colors */
  --primary: #1551e9;
  --primary-foreground: #ffffff;

  --secondary: #8fafff;
  --secondary-foreground: #0a0a0a;

  --border: #00000010;

  --navbar: #e0e9ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-navbar: var(--navbar);

  --color-border: var(--border);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;

    /* Brand Colors */
    --primary: #8fafff;
    --primary-foreground: #ffffff;

    --secondary: #d3e0ff;
    --secondary-foreground: #0a0a0a;

    --border: #00000010;

    --navbar: #e0e9ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
